.container {
    /* flex: 1; */
    /* display: flex;
    flex-direction: column; */

    margin-top: 0px;
}

.chatRoot {
    flex: 1;
    display: flex;
    height: 100%;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: 85vh;
    background-color: white;
}

.chatContainer1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 65vh;
    border: 0.5px solid rgb(196, 189, 189);
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15%;
    border-radius: 10px;
}

.headDialog {
    height: 60px;
    border-bottom: 1px solid #a0a0a0;
    padding-top: 1px;
    background-color: #1569c7;
    margin-bottom: 3px;
}
.headKnowleadgebase {
    height: 55px;
    width: 22%;
    border-bottom: 1px solid #cbd5e0;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #2b6cb0;
    margin-bottom: 3px;
    margin-right: 10px;
}
.headcitation {
    height: 75px;
    width: 22%;
    border-bottom: 1px solid #cbd5e0;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #2b6cb0;
    margin-bottom: 3px;
    margin-left: 10px;
}
/* .headDialog1 {
    height: 75px;
    width: 100%;
    max-width: 1028px;
    border-bottom: 1px solid #cbd5e0;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #2b6cb0;
    margin-bottom: 3px;
}

.DialogTest {
    margin-left: 2px;
    padding-left: 3px;
    color: white;
}

.DialogFont {
    font-size: large;
    font-weight: 600;
} */

.headDialog1 {
    height: 55px;
    width: 100%;
    max-width: 1028px;
    border-bottom: 1px solid #cbd5e0;
    padding-top: 5px;
    padding-bottom: 1px;
    background-color: #2b6cb0;
    margin-bottom: 3px;
}

.DialogTest {
    display: flex; /* Ensures the text elements are aligned horizontally */
    align-items: center; /* Vertically center the text within the nav element */
    margin-left: 2px;
    padding-left: 3px;
    color: white;
}

.DialogFont {
    font-size: large;
    font-weight: 600;
    margin-right: 5px; /* Adjust the margin as needed */
}

.DialogText {
    margin: 0; /* Reset the default margin */
}

.footer {
    /* color: #5f6368;
    font-size: 0.8rem;
    margin: 1.5rem; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* height: 30px; */
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    background-color: #2b6cb0;
    color: #fff;
    font-weight: 600;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
    padding-top: 60px;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    max-width: 1028px;
    border: #000;
    border-radius: 1rem;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 500px;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

/* .chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 100px;
    max-width: 1028px;
    background: #f2f2f2;
} */

.chatInput {
    position: fixed;
    bottom: 0;
    /* left: 0;
    right: 0;
    height: 100px; */
    max-width: 1028px;
    margin-bottom: 50px;
    /* padding: 12px 24px 24px; */
    padding: 1px 23px 18px 22px;
    width: 100%;

    align-self: center;
    align-items: center;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: flex-end;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}

.center100 {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: left;
    align-items: left;

    flex-direction: column;
    width: 100%;
}
.questioncenter100 {
    /* height: 2rem; */
    /* border-bottom-width: 1px; */
    border-bottom-color: #cbd5e0;
    /* padding-top: 1px; */

    border-radius: 0.375rem;
    background-color: #2b6cb0;

    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    /* left: 0;
    right: 0;
    height: 100px; */
    max-width: 980px;
    margin-bottom: 130px;
    /* padding: 12px 24px 24px; */

    width: 100%;

    align-self: center;
    align-items: center;
}

.navquestioncenter100 {
    margin-left: 0.5rem;
    padding-left: 0.75rem;
}

.headquestioncenter100 {
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
}
.answerRatings {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 250px;
}
.Ratingsicon {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
/* .Ratingsicon::before {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
} */
.Ratingsbutton {
    box-shadow: 0 0 0px 0px rgba(8 47 73);
    color: #fff;
    font-weight: bold;
    border-radius: 0.375rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.25rem;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: #2b6cb0;
}

.Ratingsbutton.active {
    background-color: rgba(8 47 73);
}
.Ratingsbutton:hover {
    color: #ffcc00;
    background-color: #60a5dd;
}

.citationbutton {
    margin-bottom: 0.25rem;
    margin-left: 10px;
    padding: 0.5rem 0.5rem 0.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    outline: none;
    border: none;
    box-shadow: 0 0 2px 2px rgba(8 47 73);
    color: #fff;
    background-color: #2b6cb0;
}

.citationbutton:focus {
    ring: 2px;
    ring-color: #60a5dd;
    ring-opacity: 0.5;
}

.citationbutton.active {
    background-color: rgba(8 47 73);
}

.citationbutton:hover {
    background-color: #60a5dd;
}

.metadatalist {
    height: 2rem; /* You may adjust the value as needed */
    border-bottom-width: 1px;
    border-bottom-color: #d2d6dc; /* Replace with the actual color value */
    padding-top: 0.25rem; /* You may adjust the value as needed */
    padding-bottom: 0.25rem; /* You may adjust the value as needed */
    background-color: #2b6cb0; /* Replace with the actual color value */
    margin-top: 0.75rem; /* You may adjust the value as needed */
}
.navmetadatalist {
    margin-left: 0.25rem; /* You may adjust the value as needed */
    padding-left: 0.75rem; /* You may adjust the value as needed */
}

.fontmetadata {
    font-size: 1rem; /* You may adjust the value as needed */
    font-weight: 600; /* You may adjust the value as needed */
    margin-bottom: 0.75rem; /* You may adjust the value as needed */
    color: #ffffff; /* Replace with the actual color value */
}
